{% extends 'base.html' %}
{% block content %}
    {{ moment.include_moment() }}
<div class="page-header">
<h1>{{ user.name }}</h1>

<p> Full name:
    {% if user.first_name %}{{ user.first_name }}{% endif %}
    {% if user.last_name %}{{ user.last_name }}{% endif %}
    <br>
    {% if user.location %}
        From <a href="http://maps.google.com/?q={{ user.location }}">
            {{ user.location }}
        </a>
    {% endif %}
</p>


<p>E-mail: <a href="mailto:{{ user.email }}">{{ user.email }}</a></p>


<p>
    Role: {{ user.role.name }}
    <br>
Member since {{ moment(user.creation_date).format('L') }}.
Last seen {{ moment(user.last_seen).fromNow() }}.
</p>
    {% if (user.name == current_user.name) or (current_user.is_administrator()) %}
    <a class="btn btn-default" href="{{ url_for('users.edit_profile', username=user.name) }}">
    Edit Profile
    </a>
{% endif %}
</div>

{% endblock content %}