{% extends 'base.html' %}
{% block content %}

{% block filter %}
{% endblock filter %}
<button class="nav-link btn btn-primary mb-3" href={{ url_for('tasks.create_task') }}>Create task</button>
<table class="table table-bordered table-hover table-sm table-responsive-md">
    <thead class="table-primary" scope="col">
        {% for t_head in table_heads %}
        <th scope="col">{{ t_head }}</th>
        {% endfor %}
    </thead>
    <tbody>
    {% for task in table_data %}
        <tr class="">

            <td><a href={{ url_for('tasks.show_task_detail', id=task.id) }}> {{ task.name }} </a></td>
            <td>{{ task.executor}}</td>
            <td>{{ task.manager}}</td>
            <td>{%if task.planned_start %}
                    {{ task.planned_start.strftime('%d-%m-%Y')}}
                {% else %}
                    None
                {% endif %}</td>
            <td>{%if task.actual_start_date %}
                    {{ task.actual_start_date.strftime('%d-%m-%Y')}}
                {% else %}
                    None
                {% endif %}</td>
            <td>{%if task.planned_end %}
                    {{ task.planned_end.strftime('%d-%m-%Y')}}
                {% else %}
                    None
                {% endif %}</td>
            <td>{%if task.actual_end_date %}
                    {{ task.actual_end_date.strftime('%d-%m-%Y')}}
                {% else %}
                    None
                {% endif %}</td>
            <td>{{ task.status}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}